.stat {
  margin: 0rem 1rem 1rem 1rem;
  border: solid 2px $primary-color;
  margin: 1rem 0rem;
  padding: 1.5rem;
  border-radius: 8px;

  div:first-child {
    font-size: 1.1rem;
  }

  div:last-child {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    background-color: transparent;
  }
}
