@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

// Font for the header
$bubblegum-sans: "Bubblegum Sans", cursive;

// Colors
$primary-color: #5b3977;
$transparent-primary-color: #5b397725;
$secondary-color: #ffffff;

$font: rgb(21, 21, 21);
$font-white: rgb(240, 240, 240);
